In [35]:
import pandas as pd
df = pd.DataFrame({'name':["alisha","donald","faye","mike"], 'age':[21,22,25,45],'height':[1.65,1.87,1.98,2.01]}).set_index('name')

In [36]:
df

        age  height
name
alisha   21    1.65
donald   22    1.87
faye     25    1.98
mike     45    2.01

In [37]:
df.std()

age       11.295279
height     0.163172
dtype: float64

In [38]:
df.std(ddof=0)

age       9.781999
height    0.141311
dtype: float64